.card {
  display: flex;
  position: relative;
  margin: 20px 0;
  background-color: #f5f5f5 !important;
  color: #2d2d2d !important;

  .actionButtons {
    position: absolute;
    top: 15px;
    right: 15px;

    .edit {
      &:hover {
        color: blue;
      }
    }

    .delete {
      &:hover {
        color: red;
      }
    }
  }
}

.info {
  .infoField {
    .infoTitle {
      font-weight: 700;
    }

    .infoDetail {
      margin-left: 5px;
    }
  }
}

@media (max-width: 480px) {
  .card {
    .actionButtons {
      max-height: 50px;
      bottom: 10px;
      top: auto;
      right: 10px;
    }
  }
}
