.footer {
  background-color: #d3cdc9 !important;
  color: #2d2d2d !important;
}

.toolbar {
  display: flex;
  justify-content: space-around;
}

.footerIcon {
  height: 10px !important;
  width: 10px !important;
}
